
header{
    display: flex;
    align-items: flex-end ;
    justify-content: space-between;

    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black,darkgrey, white); /* Standard syntax */
}

.logo{
    width: 20%;
}