
/*Generales*/
body {
  margin-top: 50px;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column:1 / span 12;
}

footer {
  margin-top: 50px;

  grid-column-start: 1;
  grid-column-end: 13;
}

#Footer {
  display: flex;
  justify-content: space-between;
}

/*Login*/
img {
  width: 20%;
  height: 20%;
}

.login {
  grid-column-start: 4;
  grid-column-end: 10;
}

.content-friendly {
  flex-direction: row;
}

/*Mis curricumuls*/

table{
   grid-column-start: 3;
  grid-column-end: 9;
}

/*Contacto*/
.SobreNosotros{
  grid-column-start: 3;
  grid-column-end: 9;
}


/*Recuperar Password*/
.subsection{
  grid-column-start: 4;
  grid-column-end: 9;
}